.toast-class{
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #808080;
    color: #880888;
    font-weight: bold;
    z-index: 1;
}
input[type=button]{
    width: 50%;
    margin-top: 1.5rem;
}