.card{
    /* background-image: url('../../assets/vegetables.jpg'); */
    width: 40vw;
    height: 70vh;
    margin-top: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
}
.card:hover{
    opacity: 0.5;
    transform: scale(1.1);
    transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.title{
    font-size: 2rem;
}

@media screen and (max-width: 600px){
    .card{
        width: 80vw;
    }
}