.shop{
    width: 100%;
    height: 20%;
    padding: 1rem;
}

.vegetables{
    padding-top: 1rem;
}

.productCategory{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: 35vh;
    column-gap: 1.5rem;
    margin: 1rem;
}

.collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.image:hover{
    opacity: 0.85;
   
}

.add-to-cart{
    display: flex;
    justify-content: center;
    margin-top: -3.15rem;
    opacity: 0.5;
}

@media screen and (max-width: 600px){
   .productCategory{
       display: grid;
       grid-template-columns: 1fr;
       row-gap: 3rem;
       margin: 0px auto;
       width: 100;
   }
   .image{
       height: 40vh;
       border-radius: 0.5rem;
   }
}