li{
    list-style: none;
}
.adminOptionCard{
    width: 25vw;
    height: 20vh;
    color: #ffffff;
    border-radius: 0.5rem;
    margin: 2.5rem;
}
.adminOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}
.adminTitle{
    text-align: center;
    margin-top: 3rem;
    background-color: #ffffff;
    padding: 0.7rem;
    border-radius: 0.5rem;
    opacity: 0.7;
    font-weight: bold;
}